<form class="{{cssClass}}" autocomplete="off">
    <header class="header-fields">
         <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/> 
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CallofCthulhu.aitmsname'}}"/></h1>
            <div class="resource grid grid-2col">
            <div class="resource flex-group-center">
              <label for="data.malfuncti" class="resource-label"></label><span class="ability-mod">{{localize 'CallofCthulhu.aitmsmalfuncti'}}</span></label>
            <input type="text" name="data.malfuncti" value="{{data.malfuncti}}" data-dtype="String"/>
                </div> 
              <div class="resource flex-group-center">
                <label for="data.distance" class="resource-label"></label><span class="ability-mod">{{localize 'CallofCthulhu.aitmsdistance'}}</span></label>
                  <input type="text" name="data.distance" value="{{data.distance}}" data-dtype="String"/>
               </div>
            </div> 
            <div class="resource grid grid-2col">
              <div class="resource flex-group-center">
                　　<label for="data.rof" class="resource-label"></label><span class="ability-mod">{{localize 'CallofCthulhu.aitmsRoF'}}</span></label>
                  <input type="text" name="data.rof" value="{{data.rof}}" data-dtype="String"/>
               </div>  
               <div class="resource flex-group-center">
                　　<label for="data.capacity" class="resource-label"><span class="ability-mod">{{localize 'CallofCthulhu.aitmscapacity'}}</span></label>
            　　　 <input type="text" name="data.capacity" value="{{data.capacity}}" data-dtype="String"/>
        　　    </div>  
              </div>
             <div class="resource flex-group-center">
              　<label for="data.damage" class="resource-label"><span class="ability-mod">{{localize 'CallofCthulhu.aitmsFleshward'}}</span></label>
                  <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize 'CallofCthulhu.aitmsExplanation'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}       
        </div>
    </section>
</form>
